.contenu{

    background: linear-gradient(rgb(27, 27, 27,0.4), rgb(19, 18, 18,0.3)), url('../img/tof.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 85vh;
    color: white;
    padding: 20px;
    text-align: justify;
}
.titre{

    margin-top: 50px;
}
.titre p{

    text-align: justify;
    font-size: 1.2em;

}
h1{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2.5em;
}
.titre button{

    margin-left: 200px;
    margin-top: 10px;
    font-size: 1.2em;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    padding: 10px;
    font-weight: bold;

}
h2{
    text-align: left;
    padding-bottom: 10px;
    
}
.titre button:hover{

    background-color: white;
    color: black;
    border: 2px solid white;
}
@media only screen and (max-width: 1028px) {
    
    .titre button{

        margin-left: 0px;
    }
}
@media only screen and (max-width:300px){

    h1{
        font-size: x-large;
    }
}