@import './settings';

.questions{
    background-color: $off-white;
    border-left: 5px solid $blue;
    width: 80%;

    h2{
        font-weight: lighter;
    }
    .lifeline span{
        color: $green;
        cursor: pointer;
    }
    h5{
        font-weight: lighter;
    }
    .option{
        background-color: $blue;
        border-radius: $button-radius;
        color: $white;
        cursor: pointer;
    }
   .iu {
    justify-content: space-between;
   }
      
}
