h1{
    padding-top: 10px;

}
.connect{

    font-size: 1.2em;
    width: 500px;
    padding: 20px;
    border-radius: 30px;
    background: white;
    margin-left: 25%;
    border: 2px solid rgb(255, 253, 253);
}
label{
    text-align: left;
    margin-left: 0px;
}
.btn1{

    font-size: 1.2em;
    padding: 10px;
    width: 150px;
}
.Contact{
    background: linear-gradient(rgba(8, 7, 7, 0.4), rgba(20, 19, 19, 0.4), url('../img/monde.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
@media only screen and (max-width: 1028px) {
    
    .connect{

        width: 100%;
        margin-left: 0px;
    }
    h1{
        font-size: 1.3em;
    }
}