.footer{

    padding: 5px;
    color: white;
    
}
.footer ul{

    display: flex;
    padding-right: 10px;
}
.footer li {

    display: flex;
    margin-left: 10px;
}
.footer a{

    text-decoration: none;
    color: white;
}
.tof_lien{
    width: 25px;
    height: 25px;
   
    
}