.module{

    transition: ease 0.3s;
    margin-top: 4px;
}
.formation_explique{
    
    padding: 10px;
    background: rgba(216, 220, 236, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify;
    color: rgb(10, 10, 10);
}

.formation{
    background: #f8f8fa20;
    padding: 50px;
}

.module {

    display: flex;
    padding-top: 20px;
}
.module li{

    display: flex;
    font-size: 1.2em;
    text-align: left;

}
.module img{

    width: 20px;
    height: 20px;
    margin: 7px;
}
.forme{

    padding-left: 65px;
}
.forme h1{

    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
}
.module button{

    font-size: 1.5em;
    color: white;
    background-color:#0d6efd ;
    width: 400px;
    padding: 6px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
.image img{

    width: 100%;
    margin-top: 50px;
    border-bottom: 2px solid linear-gradient(rgba(197, 217, 224, 0.3), rgba(209, 224, 231, 0.3) );
}

.jeune{

    padding: 10px;
    border: 2px solid rgb(199, 197, 197);
    border-radius: 10px;
    margin: 10px;
    color: black;
    box-shadow: 1px 1px 10px 2px;
    transition: ease-in-out 0.3s;
}
.jeune p{
    text-align: left;
}
.jeu1{

    margin-left: 100px;
}
.jeune:hover{

    transform: scale(1.03);
}
@media only screen and (max-width: 1000px) {
    
    .jeune{

        width: 90%;
        margin: 5%;
    }
}
