.info h1{

    padding: 160px;
    color: white;
    
}
.jeune_inter{
    background:linear-gradient(#b5bfd360, #a0bcd850 ), url('../img/enfant.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    
}
.jeune_Adv{
    background:linear-gradient(#b5bfd360, #a0bcd850 ), url('../img/ado.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    
}
.adulte_int{
    background:linear-gradient(#b5bfd360, #a0bcd850 ), url('../img/adulteInt.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    
}
.adulte_Adv{
    background:linear-gradient(#b5bfd360, #a0bcd850 ), url('../img/adulteAv.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    
}
